body {
	font-family: Calibri, sans-serif;
	font-size: 14px;
}
#tests {
	width: 50%;
	float: left;
}
#info {
	width: 30%;
	float: right;
}
.test-title, .mono {
	font-size: 14px;
	font-family: 'Courier New', monospace;
}
.mono {
	font-weight: bold;
	font-size: 14px;
	font-family: 'Courier New', monospace;
}
.test-pass {
	background: darkgreen;
	font-weight: bold;
	color: white;
	padding: 5px;
	width: 100px;
}
.test-fail {
	background: darkred;
	font-weight: bold;
	color: white;
	padding: 5px;
	width: 100px;
}